# Backend
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
!backend/.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war
*.log

# Frontend
frontend/node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
*.iml
*.iws

# OS
.DS_Store
Thumbs.db

# Docker
*.dockerlayer

# Env
.env
.env.local
